In [1]:
import pandas as pd
import numpy as np

In [22]:
path = "tom_slee/results/"
filename = 'filtered_summary.csv'

In [23]:
df = pd.read_csv(path + filename, encoding='ISO-8859-1', low_memory=False)

In [24]:
df

,city,last_modified,location,name,neighborhood,room_type,accommodates,bathrooms,bedrooms,borough,country,host_id,latitude,longitude,minstay,overall_satisfaction,price,survey_id,m2
0,{'Amsterdam': {'frequency': 3186}},{'2016-12-15 21:17:18.450110': {'frequency': 1}},{'0101000020E6100000A4198BA6B3B313406803B00111...,{'Amsterdam': {'frequency': 20}},{'De Baarsjes / Oud West': {'frequency': 4719}},{'Entire home/apt': {'frequency': 23463}},2.91651,NaN,1.397412,NaN,NaN,3.127229e+07,52.364795,4.888285,2.383062,3.294819,156.472707,1327.687382,88.606061